@{
    ViewData["Title"] = "Home Page";
}

<!-- Latest compiled and minified CSS --> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> <!-- Optional theme --> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> <!-- Latest compiled and minified JavaScript --> <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<form>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="text" class="form-control" id="inputPassword" placeholder="Nome">
    </div>

    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>

    <div class="form-group">
        <label for="inputEmail">P1: Qual o nome de sua instituição/empresa?</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="">
    </div>

    <div class="form-group">
        <label for="inputEmail">P2: Em que ano ela foi criada?</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="">
    </div>

    <div class="form-group">
        <label for="inputEmail">P3: Em que estado e cidade ela está sediada? (Indique o estado e especifique a cidade)</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="">
    </div>

    <div class="form-group">
        <label for="inputEmail">P4: Em quais destas categorias sua instituição/empresa se enquadra? (É possível marcar mais de uma opção)</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="">
    </div>

    <div class="form-group">
        <label for="inputEmail">P5: Qual das frases abaixo define melhor o perfil de atuação de sua instituição/empresa?</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="">
    </div>

    <button type="submit" class="btn btn-primary">Pesquisar</button>
</form>